*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 16px;
}

body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
  display: block;
}

ul{
  list-style-type: none;
}

img{
  border: 0;
  display: block;
}

input{
  display: block;
  border: none;
  outline: none;
}

.item{
  box-shadow: .1875rem .1875rem .0625rem rgba(0, 0, 0, 0.15);
  border: .0625rem solid rgba(0, 0, 0, 0.15);
  border-width: .0625rem 0 0 .0625rem;
  background: #F6F6F6;
  padding: .9375rem;
  padding-top: 0;
}

.main_page{
  background: rgba(234, 234, 234, 1);
}

.section{
  display: grid;
  grid-template-columns: 1fr;
  min-width: 410px;
}

.menu{
  display: none;
  height: 100%;
  border: .1875rem solid #D8D8D8;
  border-width: 0 .1875rem 0 0;
  background: #F6F6F6;  
}

.fixed_left{
  position: sticky;
  top: 0;
}

.menu h2{
  padding: 1.875rem 1.25rem 1.875rem 1.5625rem;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1875rem;
  border-bottom: .0625rem solid #808080;
  color: #5C5C5C;
}

.block_menu{
  display: flex;
  flex-direction: column;
  padding: 1.5625rem .9375rem 0 .9375rem;
}

.block_menu a{
  display: flex;
  align-items: center;
  padding: 1.0625rem .625rem ;
  gap: .9375rem;
  font-size: .75rem;
  line-height: .875rem;
}

.block_menu li:hover{
  background: rgb(201, 200, 200, .3);
}

.active{
  background: #C32056;
  color: #FFFFFF;
}

.block_menu img{
  width: 1rem;
  height: 1rem;
}

.container{
  padding: 0 2.1rem;
}

.icon_menu_title{
  display: flex;
  align-items: baseline;
  gap: .625rem;
  padding-top: 1.875rem;
  padding-bottom: 3.4375rem;
}

.icon_menu_title img{
  height: 0.8125rem;
}

.title{
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.1875rem;
  color: #5C5C5C;
}

.items_all{
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

 .items{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.875rem;
}

.upper_content{
  display: flex;
  justify-content: space-between;
  border-bottom: .0625rem solid #808080;
}

.upper_content img {
  width: 100%;
}

.color_green{
  background: #448B00;
}

.color_yellow{
  background: #D89E24;
}

.color_blue{
  background: #274D97;
}

.color_red{
  background: #C32056;
}

.upper_icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4375rem;
  height: 3.4375rem;
  transform: translateY(-.875rem);
  padding: .7rem;
}

.results{
  display: flex;
  flex-direction: column;
  gap: .1875rem;
  padding-top: .9375rem;
  padding-bottom: .625rem;
}

.text_right{
  text-align: right;
}

.items_small .subtitle{
  font-weight: 400;
  font-size: .75rem;
  line-height: .875rem;
  color: #5C5C5C;
}

.items_small .improvement{
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  color: #5C5C5C;
}

.bottom_content{
  display: flex;
  gap: .3125rem;
  align-items: center;
  padding-top: .625rem;
}

.icon{
  font-size: .625rem;
}

.bottom_comment{
  font-weight: 400;
  font-size: .75rem;
  line-height: .875rem;
  color: #808080;
}

.items_average .icon_average{
  transform: translateY(-.75rem);
  padding: .9375rem;
}

.items_average img{
  width: 100%;
}

.items_average .results{
  gap: .625rem;
  padding: 0;
  padding-bottom: .625rem;
  border-bottom: .0625rem solid #808080;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1rem;
  color: #5C5C5C;
}

.upper_block{
  padding: .5rem;
  transform: translateY(-.9375rem);
  background: #D89E24;
  color: #fff;
}

.icons_names{
  display: flex;
  gap: .525rem;
}

.icons_names a{
  display: flex;
  gap: .3125rem;
  padding: .625rem .5rem;
  align-items: center;
  font-size: .875rem;
}

.icons_names div{
  padding: .625rem .9375rem;
  align-items: center;
  font-size: .875rem;
}

.icons_names a:hover:nth-child(n+2){
  background: rgba(255, 255, 255, .2);
}

.tick_your_answer li{
  border-bottom: .0625rem solid #808080;
}

.tick_your_answer input{
  display: none;
}

.tick_your_answer label{
  display: flex;
  align-items: center;
  gap: .3125rem;
  width: 100%;
  padding: 1.5rem .625rem;
  font-size: .975rem;
}

.text_images{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .875rem;
  width: 100%;
}

.tick_your_answer .text_images span{
  display: flex;
  gap: 1.125rem;
}

.tick_your_answer li img{
  width: 1.25rem;
  height: 1.25rem;
}

.tick_your_answer label::before{
  content: '';
  display: block;
  width: .625rem;
  height: .625rem;
  border: .0625rem solid #808080;
  border-radius: .1875rem;
  background: rgba(99, 90, 90, .1);
}

.tick_your_answer input:checked + label::before{
  background-image: url(../images/tick.svg);
  font-family: "Font Awesome 5 Free";
  background-repeat: no-repeat;
  background-position: center;
}

.tick_your_answer li:nth-child(4){
  border: none;
}

.item_big_title{
  display: flex;
  flex-direction: column;
  gap: .875rem;
  padding: .75rem 1.25rem;
  transform: translateY(-.9375rem);
  color: #fff;
}

.item_big_title h3{
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875rem;
}

.item_big_title p{
  font-size: .75rem;
  line-height: .875rem;
}

.list_denotations{
  display: grid;
  grid-template-rows: repeat(5, 2.75rem);
}

.item .list_denotations li{
  display: grid;
  grid-template-columns: 1fr 3fr 4fr 2.5fr;
  padding: 0 .9375rem 0 .9375rem;
  border-bottom: .0625rem solid #808080;
  column-gap: 1.5rem
}

.list_denotations span{
  display: flex;
  align-items: center;
}

.list_denotations li:nth-child(1){
  color: #82BEC0;
}

.list_denotations li:nth-child(5){
  border: none;
}

.list_denotations li span:nth-child(3){
  justify-content: flex-end;
}

.list_denotations li span:nth-child(4){
  padding-left: 1.5rem;
}

.footer{
  display: flex;
  justify-content: space-between;
  margin-left: .9375rem;
  margin-top: 3.75rem;
  padding: .9375rem;
  border: .0625rem solid #808080;
  border-width: .0625rem 0 0 0;
}

.footer_left{
  display: flex;
  gap: .9375rem;
  font-size: .875rem;
  font-weight: 600;
}

.footer_right{
  color: #808080;
}

.user_title{
  padding-bottom: 2.5rem;
}

.form_and_description{
  display: grid;
  grid-template-columns: 1fr ;
  row-gap: 3.75rem;
  color: #808080;
}

.form_and_title{
  padding: 0 .9375rem 1.25rem .9375rem;
  background: #fff;
  order: 2;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.row{
  display: flex;
  gap: 1.25rem;
}

.input_and_up{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form_and_title label{
  font-size: .75rem;
  padding-bottom: .9375rem
}

.row .input{
  border-bottom: .0625rem solid #808080;
  width: 100%;
}

.row:nth-child(6) .input{
  border: 0;
  justify-content: flex-end;
}

.submit{
  padding: .75rem 4rem;
  background: #C32056;
  color: #fff;
}

.description{
  padding: 1.25rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  height: fit-content;
  background: #fff;
  order: 1;
}

.icon_name{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  width: 9.375rem;
  height: 9.375rem;
  transform: translateY(-3.125rem);
}

.description img{
  width: 100%;
}

.description h3{
  font-weight: 600;
  color: #000;
}

.description p{
  text-align: center;
  padding-top: 1.875rem;
}

.footer_user{
  padding-bottom: 1.5rem;
  padding-top: 1.875rem;
  margin-top: 3.75rem;
}

@media(min-width: 532px){
  .items_small{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 650px){
  .items_average{
    grid-template-columns: repeat(3,1fr);
  }
}

@media(min-width: 800px){
  .section{
    display: grid;
    grid-template-columns: 10.9375rem 1fr;
  }

  .menu{
    display: initial;
  }

  .icon_menu_title img{
    display: none;
  }

  .form_and_title{
    order: 2;
  }

  .decription{
    order:1;
  }
}

@media(min-width: 1152px){
  .items_big{
    grid-template-columns: repeat(2, 1fr);
  }

  .items_small{
    grid-template-columns: repeat(4, 1fr);
  }

  .form_and_description{
    grid-template-columns: 7fr 3fr;
    column-gap: .9375rem;
  }

  .form_and_title{
    order: 1;
  }

  .decription{
    order:2;
  }

  .footer_user{
    padding-bottom: 5.625rem;
  }
}









