*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style-type: none;
}

img{
  border: 0;
  display: block;
  /* transform: translateY(-15px); */
}

section{
  display: grid;
  grid-template-columns: 150px 1fr;
}

.menu{height: 100vh;outline: 1px solid red;}

.main_page{
  background: rgba(234, 234, 234, 1);
}

.container{
  padding-left: 15px;
  padding-right: 15px;
}

h2{}

.items_all{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.items{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.items_small{}

.items_average{}

.items_big{}

.item{
  width: 188px;
  height: 150px;
  outline: 1px solid red;
  background: #F6F6F6;
  padding: 15px;
}

.upper_content{
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #808080;
}

.results{
  display: flex;
  flex-direction: column;
  gap: 3px;
  text-align: right;
}

.subtitle{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5C5C5C;
}

.quantitative_results{
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #5C5C5C;
}

.bottom_content{
  display: flex;
  gap: 5px;
  align-items: center;
}

.icon{
  font-size: 10px;
}

.bottom_comment{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #808080;
}
