*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
  display: block;
}

ul{
  list-style-type: none;
}

img{
  border: 0;
  display: block;
}

input{
  display: block;
  /* width: 100%; */
  outline: none;
  border: none;
}

.item{
  flex-grow: 1;
}

.main_page{
  background: rgba(234, 234, 234, 1);
}






.section{
  display: grid;
  grid-template-columns: 175px 1fr;

}

.menu{
  height: 100%;
  background: #F6F6F6;  
  position: relative;
}

.fixed_left{
  position: fixed;
  top: 0;
  left: 0;
}

.menu h2{
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #5C5C5C;
  padding-left: 25px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #808080;
  width: 175px;

}


.block_menu{
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  /* gap:10px; */
  margin-top: 25px;

}

.block_menu a{
  display: flex;
  align-items: center;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 10px;
  padding-right: 10px;
  gap: 15px;
  font-size: 12px;
  line-height: 14px;
}

.block_menu li:hover{
  background: rgb(201, 200, 200, .3);
}

.active{
  background: #C32056;
  color: #FFFFFF;
}

.block_menu img{
  width: 16px;
  height: 16px;
}






.container{
  padding-left: 20px;
  padding-right: 20px;
}

.icon_menu_title{
  display: flex;
  align-items: baseline;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 55px;

}

.icon_menu_title img{
  height: 13px;
  display: none;
}

.title{
  font-weight: 700;
  font-size: 20px;
  line-height: 19px;
  color: #5C5C5C;
}


.items_all{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

 .items{
  display: grid;
  gap: 30px;
}







.items_small{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}


.items_small .item{
  background: #F6F6F6;
  padding: 15px;
  padding-top: 0;
}


.upper_content{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
}

.icon_green{
  background: #448B00;
}

.icon_yellow{
  background: #D89E24;
}

.icon_blue{
  background: #274D97;
}

.icon_red{
  background: #C32056;
}

.upper_icon{
  width: 55px;
  height: 55px;
  transform: translateY(-14px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.results{
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.text_right{
  text-align: right;
}

.items_small .subtitle{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5C5C5C;
}

.items_small .improvement{
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #5C5C5C;
}

.bottom_content{
  display: flex;
  gap: 5px;
  align-items: center;
  padding-top: 10px;
}

.icon{
  font-size: 10px;
}

.bottom_comment{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #808080;
}












.items_average{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.items_average .item{
  background: #F6F6F6;
  padding: 15px 12px;
  padding-top: 0;
  /* flex-basis: 256px; */
}

.items_average .icon_average{
  transform: translateY(-12px);
  padding: 15px;
}

.items_average img{
  width: 100%;
}

.items_average .results{
  gap: 10px;
  padding: 0;
  border-bottom: 1px solid #808080;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #5C5C5C;
}

.items_average .subtitle{}

.items_average .improvement{}

.items_average .bottom_content{}





















.items_big{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.items_big .item{
  background: #F6F6F6;
  padding-right: 13px;
  padding-left: 13px;
}

.upper_block{
  padding:26px 15px;
  background: #D89E24;
  color: #fff;
  transform: translateY(-15px);
}

.icons_names{
  display: flex;
  gap: 30px;
}

.icons_names div{
  display: flex;
  gap:5px;
}

.items_big .tick_your_answer li{
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #808080;
  align-items: center;
  flex-basis: 580px;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tick_your_answer li:nth-child(4){
  border: none;
}

.tick_your_answer li img{
  width: 20px;
  height: 20px;
}

.items_big .tick_your_answer span{
  display: flex;
  gap: 18px;
}









.item_big_title{
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 12px 20px;
  color: #fff;
  transform: translateY(-15px);
}

.item_big_title h3{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.item_big_title p{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.item .list_denotations li{
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 50px;
  border-bottom: 1px solid #808080;
}

.list_denotations li:nth-child(1){
  color: #82BEC0;
}

.list_denotations div{
  display: inline-flex;
  width: 160px;
  justify-content:space-between;
}

.correct_flex_distribution{
  display: inline-block;
  width: 79.53px;
}

.width_for_table{
  width: 52.45px;
}

.list_denotations li:nth-child(5){
  border: none;
}

.footer{
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 60px;
  padding: 15px;
  border: 1px solid #808080;
  border-width: 1px 0 0 0;

}

.footer_left{
  display: flex;
  gap: 15px;
  font-size: 14px;
  font-weight: 600;
}

.footer_right{
  color: #808080;
}










@media(min-width: 0){
  .items{
    grid-template-columns: 1fr;
  }

  .section{
    grid-template-columns: 1fr;
  }
  .menu{
    display: none;
  }

  .icon_menu_title img{
    display: initial;
  }
  
}

@media(min-width:500px){
  .items_small{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 650px){
  .items_average{
    grid-template-columns: repeat(3,1fr);
  }
}

@media(min-width:800px ){
  .section{
    display: grid;
    grid-template-columns: 175px 1fr;
  }

  .menu{
    display: initial;
  }

  .icon_menu_title img{
    display: none;
  }
}

@media(min-width: 1056px){
  .items_big{
    grid-template-columns: repeat(2, 1fr);
  }

  .items_small{
    grid-template-columns: repeat(4, 1fr);
  }
}







/* USER PROFILE */
.user_title{
  padding-top: 30px;
  padding-bottom: 40px;
}

.form_and_description{
  display: grid;
  grid-template-columns: 5fr 3fr;
  color: #808080;
  column-gap: 15px;
}

.color{
  background: #C32056;
}

.form_and_title{
  padding: 0 15px 20px 15px;
  background: #fff;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row{
  display: flex;
  gap: 20px;
}


.input_and_up{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.row:nth-child(5) .input_and_up{
  gap: 35px;
}

.up_comment{
  font-size: 12px;
}

.row .input{
  border-bottom: 1px solid #808080;
  width: 100%;
}

.row:nth-child(6){
  justify-content: flex-end;
}

.row:nth-child(6) .input{
  border: 0;
}

.submit{
  padding: 12px 30px;
  width: 40%;
  background: #C32056;
  color: #fff;
}

.description{
  background: #fff;
}

.footer_user{
  padding-bottom: 90px;
}
