*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style-type: none;
}

img{
  border: 0;
  display: block;
  /* width: 100%; */
}

.item{
  flex-grow: 1;
}

.main_page{
  background: rgba(234, 234, 234, 1);
}






section{
  display: grid;
  grid-template-columns: 150px 1fr;
}

.menu{
  height: 100%;
  outline: 1px solid red;
}

.container{
  padding-left: 20px;
  padding-right: 20px;
}

.title{
  padding-bottom: 40px;
}

.items_all{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

 .items{
  display: flex;
  gap: 15px;
}









.items_small .item{
  background: #F6F6F6;
  padding: 15px;
  padding-top: 0;
}


.upper_content{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #808080;
}

.icon_green{
  background: #448B00;
}

.icon_yellow{
  background: #D89E24;
}

.icon_blue{
  background: #274D97;
}

.icon_red{
  background: #C32056;
}

.upper_icon{
  width: 55px;
  height: 55px;
  transform: translateY(-14px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.results{
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.text_right{
  text-align: right;
}

.items_small .subtitle{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #5C5C5C;
}

.items_small .improvement{
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #5C5C5C;
}

.bottom_content{
  display: flex;
  gap: 5px;
  align-items: center;
  padding-top: 10px;
}

.icon{
  font-size: 10px;
}

.bottom_comment{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #808080;
}












.items_average{}

.items_average .item{
  background: #F6F6F6;
  padding: 15px 12px;
  padding-top: 0;
  /* flex-basis: 256px; */
}

.items_average .icon_average{
  transform: translateY(-12px);
  padding: 15px;
}

.items_average img{
  width: 100%;
}

.items_average .results{
  gap: 10px;
  padding: 0;
  border-bottom: 1px solid #808080;
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #5C5C5C;
}

.items_average .subtitle{}

.items_average .improvement{}

.items_average .bottom_content{}





















.items_big{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.items_big .item{
  background: #F6F6F6;
  padding-right: 13px;
  padding-left: 13px;
}

.upper_block{
  padding:22px 15px;
  background: #D89E24;
  color: #fff;
  transform: translateY(-15px);
}

.icons_names{
  display: flex;
  gap: 30px;
}

.icons_names div{
  display: flex;
  gap:5px;
}

.items_big .tick_your_answer li{
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #808080;
  align-items: center;
  flex-basis: 580px;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}

.tick_your_answer li img{
  width: 20px;
  height: 20px;
}

.items_big .tick_your_answer span{
  display: flex;
  gap: 18px;
}









/* ALARM, CODE BELOW MUST BE CORRECTED!!!!!!!!!!!!!!!!!!!! */

.item_big_title{
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 12px 20px;
  color: #fff;
  transform: translateY(-15px);
}

.item_big_title h3{
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.item_big_title p{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.item .list_denotations li{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 50px;
  border-bottom: 1px solid #808080;
}

.denotations{
  color: #82BEC0;
}

.list_denotations div{
  display: inline-flex;
  width: 160px;
  justify-content:space-between;
}

.correct_flex_distribution{
  display: inline-block;
  width: 79.53px;
}

.width_for_table{
  width: 52.45px;
}

.delete_border{
  border: none;
}